
#app {
  background: white;
}

#app,
#first-page,
#first-page .p-tabview,
#first-page .p-tabview-panels,
#first-page .p-tabview-panel,
#main-tab,
#settings-tab {
  min-height: 600px;
  height: 100% !important;
}

a {
  text-decoration: none !important;
}


.p-inputtext.__redefine {
  width: 350px !important;
  height: 30px !important;
  font-size: 16px !important;
}